{
  "realm": "kie-realm",
  "auth-server-url": "{{ rhpam_business_central_sso_authServer_url }}",
  "ssl-required": "none",
  "resource": "kie-git",
  "credentials": {
    "secret": "a7c41611-867c-405d-9ec1-643dfb6019c3"
  },
  "confidential-port": 0
}
